body{
    background-color: #403121;
}
a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

#header img {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    border-radius: 50%;
    width: 120px;
}
#navbar {
    margin-top: 10px;
    min-height: 200px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    padding: 50px 100px 20px 100px;
    float: left;
}

.menu a {
    transition: 0.4s ease;
}
.menu a:hover {
    font-size: 42px;
    color: #df760b;
    transition: 0.4s ease;
}

#welcome {
    text-align: center;
}
.clear {
    clear: both;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.oszlop3 {
    margin: 5px;
}

.oszlop3 img {
    float: left;
    width: 450px;
    margin: 20px;
    cursor: pointer;
}